<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>attractions</key>
		<array>
			<dict>
				<key>details</key>
				<string>City Chambers designed by William Young was opened in 1888. was built to use electric light from it&#39;s inception.</string>
				<key>entryDescription</key>
				<string>Free Entry</string>
				<key>image</key>
				<string>city-chambers</string>
				<key>lat</key>
				<real>55.861025</real>
				<key>long</key>
				<real>-4.248951</real>
				<key>name</key>
				<string>Glasgow City Chambers</string>
				<key>openingTimes</key>
				<string>All Day</string>
				<key>typeImage</key>
				<string>museum</string>
			</dict>
			<dict>
				<key>details</key>
				<string>To ensure fair trading by merchants, shopkeepers, surveyors, architects and builders, strict standards of measurement were prominently provided in public places during the eighteenth and nineteenth centuries. In the days before metrication, every child had to learn that three feet makes a yard, 22 yards make a chain, 10 chains make a furlong and eight furlongs make a mile! There are three sets of measurement standards which remain on view in George Square to this day:1. The standard inch, foot, two-feet and three-feet measurements2. There is a standard chain measure3. There is a 100-feet measure located at the west side of the north lawn.Following the Treaty of Union with England in 1706, the traditional Scots measurement units of Фells, falls and milesХ were legally replaced with the English measurement system, however, they continued in use in some areas of Scotland into the 20th century.</string>
				<key>entryDescription</key>
				<string>Free Entry</string>
				<key>image</key>
				<string>measurement</string>
				<key>lat</key>
				<real>55.8607089</real>
				<key>long</key>
				<real>-4.2489295</real>
				<key>name</key>
				<string>Standards of Measurement</string>
				<key>openingTimes</key>
				<string>All Day</string>
				<key>typeImage</key>
				<string>ruler</string>
			</dict>
			<dict>
				<key>details</key>
				<string>Dr Thomas Graham (1805Р1869) was a brilliant experimental chemist, who pioneered laboratory-based chemical education. </string>
				<key>entryDescription</key>
				<string>Free Entry</string>
				<key>image</key>
				<string>thomas-graham</string>
				<key>lat</key>
				<real>55.8607458</real>
				<key>long</key>
				<real>-4.2494003</real>
				<key>name</key>
				<string>Statue of Thomas Graham</string>
				<key>openingTimes</key>
				<string>All Day</string>
				<key>typeImage</key>
				<string>statue</string>
			</dict>
			<dict>
				<key>details</key>
				<string>The first places to have electric light were Queen Street and St Enoch stations (latter now demolished) and the head post office (1Р7 George Square) which until then had been lit by open  gas burners. In 1893, electric street lighting was established in Glasgow</string>
				<key>entryDescription</key>
				<string>Free Entry</string>
				<key>image</key>
				<string>electricity</string>
				<key>lat</key>
				<real>55.8607352</real>
				<key>long</key>
				<real>-4.2492447</real>
				<key>name</key>
				<string>Electricity Pioneers</string>
				<key>openingTimes</key>
				<string>All Day</string>
				<key>typeImage</key>
				<string>bulb</string>
			</dict>
			<dict>
				<key>details</key>
				<string>Go into the entrance lobby (MonРFri 9amР5pm only) although you can peer through the glass doors) of this building and you will find James Watt on your right, leaning with his elbow on a cylindrical piece of equipment representing his famous invention Р the steam condenser</string>
				<key>entryDescription</key>
				<string>Free Entry</string>
				<key>image</key>
				<string>royal-college</string>
				<key>lat</key>
				<real>55.8612098</real>
				<key>long</key>
				<real>-4.2465148</real>
				<key>name</key>
				<string>James Watt Statue, Royal College Building, University of Strathclyde</string>
				<key>openingTimes</key>
				<string>All Day</string>
				<key>typeImage</key>
				<string>museum</string>
			</dict>
			<dict>
				<key>details</key>
				<string>There used to be a ship on the roof of the Royal College building for training Merchant Navy apprentices in compass and navigation work. The Land Ship had a mock navigation bridge builton the roof of the School of Navigation in the Royal Technical College, Glasgow, with a revolving platform with a Kelvin compass mounted on the top.</string>
				<key>entryDescription</key>
				<string>Free Entry</string>
				<key>image</key>
				<string>royal-college</string>
				<key>lat</key>
				<real>55.8615381</real>
				<key>long</key>
				<real>-4.2458308</real>
				<key>name</key>
				<string>The Land Ship, University of Strathclyde</string>
				<key>openingTimes</key>
				<string>All Day</string>
				<key>typeImage</key>
				<string>boat</string>
			</dict>
			<dict>
				<key>details</key>
				<string>This building is in Historic ScotlandХs Listed Buildings Register 32801 (B listed). Designed by James Thomson in 1900, this is one of the cityХs most ornate buildings. You can see a carved train and other industrial products for which the city was famed, carved into the upper floor window pediments, made by the sculptor James Young of Locharbriggs sandstone.</string>
				<key>entryDescription</key>
				<string>Free Entry</string>
				<key>image</key>
				<string>connal-building</string>
				<key>lat</key>
				<real>55.862015</real>
				<key>long</key>
				<real>-4.252712</real>
				<key>name</key>
				<string>Connal Building</string>
				<key>openingTimes</key>
				<string>All Day</string>
				<key>typeImage</key>
				<string>museum</string>
			</dict>
			<dict>
				<key>details</key>
				<string>On the faЌade of the Athenaeum building there are two seated figures on either side above the entrance. The left hand one is James Watt holding a governor (the object with two balls) and presumably giving technical instruction to a youth.</string>
				<key>entryDescription</key>
				<string>Free Entry</string>
				<key>image</key>
				<string>athenaeum</string>
				<key>lat</key>
				<real>55.8620941</real>
				<key>long</key>
				<real>-4.254442</real>
				<key>name</key>
				<string>James Watt Statue, Atheneum Building</string>
				<key>openingTimes</key>
				<string>All Day</string>
				<key>typeImage</key>
				<string>statue-1</string>
			</dict>
			<dict>
				<key>details</key>
				<string>The Stock Exchange building was erected between 1875 and 1877, designed by John Burnet. The roundels depict the various industries with which the Stock Exchange dealt.</string>
				<key>entryDescription</key>
				<string>Free Entry</string>
				<key>image</key>
				<string>stock-exchange</string>
				<key>lat</key>
				<real>55.86186</real>
				<key>long</key>
				<real>-4.254549</real>
				<key>name</key>
				<string>Stock Exchange Building</string>
				<key>openingTimes</key>
				<string>All Day</string>
				<key>typeImage</key>
				<string>money</string>
			</dict>
			<dict>
				<key>details</key>
				<string>AllSaints, fashion retailer, has some 400 old sewing machines in the window and even more inside, including cast iron tables and showcasing stock, continuing this Тindustrial themeУ. In the 19th century, the Singer Sewing Machine retail shop was just along the street at 65 Buchanan Street</string>
				<key>entryDescription</key>
				<string>Free Entry</string>
				<key>image</key>
				<string>sewing-machines</string>
				<key>lat</key>
				<real>55.860366</real>
				<key>long</key>
				<real>-4.253989</real>
				<key>name</key>
				<string>Sewing Machines, All Saints</string>
				<key>openingTimes</key>
				<string>All Day</string>
				<key>typeImage</key>
				<string>industry</string>
			</dict>
			<dict>
				<key>details</key>
				<string>On this grey sand stone building there are two square panels (around three feet across) showing small children using printing presses to print money and diestamp coins</string>
				<key>entryDescription</key>
				<string>Free Entry</string>
				<key>image</key>
				<string>gordon-street</string>
				<key>lat</key>
				<real>55.860738</real>
				<key>long</key>
				<real>-4.25838</real>
				<key>name</key>
				<string>Royal Bank of Scotland (Coins &amp; Notemakers)</string>
				<key>openingTimes</key>
				<string>All Day</string>
				<key>typeImage</key>
				<string>museum</string>
			</dict>
			<dict>
				<key>details</key>
				<string>Commissioned by the Glasgow Incorporation Of Masons to depict the activities of their historic trade.</string>
				<key>entryDescription</key>
				<string>Free Entry</string>
				<key>image</key>
				<string>buchanan-street</string>
				<key>lat</key>
				<real>55.8603671</real>
				<key>long</key>
				<real>-4.2539266</real>
				<key>name</key>
				<string>Plaque of Medieval Masons at Work</string>
				<key>openingTimes</key>
				<string>All Day</string>
				<key>typeImage</key>
				<string>hammer</string>
			</dict>
			<dict>
				<key>details</key>
				<string>The relief panels around the base of the Duke tells the story of WellingtonХs career. On the northern panel you can see the aftermath of a battle, presumably Waterloo.</string>
				<key>entryDescription</key>
				<string>Free Entry</string>
				<key>image</key>
				<string>duke-of-wellington</string>
				<key>lat</key>
				<real>55.8600627</real>
				<key>long</key>
				<real>-4.2520355</real>
				<key>name</key>
				<string>Duke of Wellington Statue</string>
				<key>openingTimes</key>
				<string>All Day</string>
				<key>typeImage</key>
				<string>statue</string>
			</dict>
			<dict>
				<key>details</key>
				<string>This was commissioned after AlbertХs death and was to commemorate his impact on the nationХs progress. One side panel reflects this with images of industry and engineering. The reliefs depict the fine arts on the left side and the industrial arts on the right.</string>
				<key>entryDescription</key>
				<string>Free Entry</string>
				<key>image</key>
				<string>prince-albert</string>
				<key>lat</key>
				<real>55.861447</real>
				<key>long</key>
				<real>-4.2510543</real>
				<key>name</key>
				<string>Prince Albert Statue</string>
				<key>openingTimes</key>
				<string>All Day</string>
				<key>typeImage</key>
				<string>statue-1</string>
			</dict>
			<dict>
				<key>details</key>
				<string>While working as an instrument maker at the University of Glasgow, Watt became interested in the technology of steam engines. A similar statue to this can be found in the atrium of the Royal Museum, Edinburgh.</string>
				<key>entryDescription</key>
				<string>Free Entry</string>
				<key>image</key>
				<string>james-watt</string>
				<key>lat</key>
				<real>55.8610316</real>
				<key>long</key>
				<real>-4.2512206</real>
				<key>name</key>
				<string>James Watt Statue (SW Corner)</string>
				<key>openingTimes</key>
				<string>All Day</string>
				<key>typeImage</key>
				<string>power</string>
			</dict>
			<dict>
				<key>details</key>
				<string>Inside this public house be sure to examine all the banking history that can be found upon its walls. </string>
				<key>entryDescription</key>
				<string>Free Entry</string>
				<key>image</key>
				<string>counting-house</string>
				<key>lat</key>
				<real>55.8611941</real>
				<key>long</key>
				<real>-4.2516122</real>
				<key>name</key>
				<string>Counting House Public House</string>
				<key>openingTimes</key>
				<string>All Day</string>
				<key>typeImage</key>
				<string>coffee</string>
			</dict>
		</array>
		<key>description</key>
		<string>A short walk through the historic and beautiful Glasgow city centre. 16 wonderful attractions to take in.</string>
		<key>distanceKm</key>
		<real>4.3</real>
		<key>name</key>
		<string>Geek Guide to Glasgow</string>
		<key>overviewImage</key>
		<string>science-centre-2</string>
		<key>providerImage</key>
		<string>science-centre</string>
		<key>route</key>
		<array>
			<dict>
				<key>lat</key>
				<real>55.86118</real>
				<key>long</key>
				<real>-4.25147</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86091</real>
				<key>long</key>
				<real>-4.2515600000000004</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86091</real>
				<key>long</key>
				<real>-4.25156</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.860769999999995</real>
				<key>long</key>
				<real>-4.25031</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86062999999999</real>
				<key>long</key>
				<real>-4.2491699999999994</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86063</real>
				<key>long</key>
				<real>-4.24917</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86103</real>
				<key>long</key>
				<real>-4.24903</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86103</real>
				<key>long</key>
				<real>-4.24903</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86073</real>
				<key>long</key>
				<real>-4.24913</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86073</real>
				<key>long</key>
				<real>-4.24913</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86062999999999</real>
				<key>long</key>
				<real>-4.24917</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86063</real>
				<key>long</key>
				<real>-4.24917</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86066</real>
				<key>long</key>
				<real>-4.24943</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86066</real>
				<key>long</key>
				<real>-4.24943</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86063</real>
				<key>long</key>
				<real>-4.24917</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86063</real>
				<key>long</key>
				<real>-4.24917</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86072</real>
				<key>long</key>
				<real>-4.249140000000001</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86072</real>
				<key>long</key>
				<real>-4.24914</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86143</real>
				<key>long</key>
				<real>-4.248889999999999</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86143</real>
				<key>long</key>
				<real>-4.24889</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.861239999999995</real>
				<key>long</key>
				<real>-4.24737</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.861129999999996</real>
				<key>long</key>
				<real>-4.24654</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86113</real>
				<key>long</key>
				<real>-4.24654</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.861000000000004</real>
				<key>long</key>
				<real>-4.2454600000000005</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.861</real>
				<key>long</key>
				<real>-4.24546</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86148</real>
				<key>long</key>
				<real>-4.24529</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86148</real>
				<key>long</key>
				<real>-4.24529</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.861</real>
				<key>long</key>
				<real>-4.24546</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.861</real>
				<key>long</key>
				<real>-4.24546</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.861239999999995</real>
				<key>long</key>
				<real>-4.247369999999999</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86143</real>
				<key>long</key>
				<real>-4.248889999999999</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86143</real>
				<key>long</key>
				<real>-4.24889</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86156</real>
				<key>long</key>
				<real>-4.24998</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.8617</real>
				<key>long</key>
				<real>-4.25116</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86172</real>
				<key>long</key>
				<real>-4.25129</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86172</real>
				<key>long</key>
				<real>-4.25129</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86179</real>
				<key>long</key>
				<real>-4.25194</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86185</real>
				<key>long</key>
				<real>-4.25242</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.861889999999995</real>
				<key>long</key>
				<real>-4.252759999999999</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86189</real>
				<key>long</key>
				<real>-4.25276</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86197</real>
				<key>long</key>
				<real>-4.253430000000001</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.861959999999996</real>
				<key>long</key>
				<real>-4.253470000000001</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.861959999999996</real>
				<key>long</key>
				<real>-4.253500000000001</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86194999999999</real>
				<key>long</key>
				<real>-4.2535300000000005</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.861929999999994</real>
				<key>long</key>
				<real>-4.25356</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86193</real>
				<key>long</key>
				<real>-4.25356</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86192</real>
				<key>long</key>
				<real>-4.25358</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.8619</real>
				<key>long</key>
				<real>-4.25361</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86188</real>
				<key>long</key>
				<real>-4.25364</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.861869999999996</real>
				<key>long</key>
				<real>-4.25366</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86185999999999</real>
				<key>long</key>
				<real>-4.2537</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86184999999999</real>
				<key>long</key>
				<real>-4.25373</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86185999999999</real>
				<key>long</key>
				<real>-4.25377</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86185999999999</real>
				<key>long</key>
				<real>-4.2538</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86191999999999</real>
				<key>long</key>
				<real>-4.25429</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.861929999999994</real>
				<key>long</key>
				<real>-4.25431</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.861929999999994</real>
				<key>long</key>
				<real>-4.25433</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86194</real>
				<key>long</key>
				<real>-4.2543500000000005</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.861959999999996</real>
				<key>long</key>
				<real>-4.25436</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.861979999999996</real>
				<key>long</key>
				<real>-4.25438</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86201</real>
				<key>long</key>
				<real>-4.2544</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86204</real>
				<key>long</key>
				<real>-4.25441</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86205</real>
				<key>long</key>
				<real>-4.25442</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86206000000001</real>
				<key>long</key>
				<real>-4.254429999999999</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86206</real>
				<key>long</key>
				<real>-4.25443</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86207</real>
				<key>long</key>
				<real>-4.2544200000000005</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86209</real>
				<key>long</key>
				<real>-4.2544200000000005</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86208</real>
				<key>long</key>
				<real>-4.25447</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86208</real>
				<key>long</key>
				<real>-4.25445</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.862069999999996</real>
				<key>long</key>
				<real>-4.254440000000001</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86205999999999</real>
				<key>long</key>
				<real>-4.254430000000001</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86204999999999</real>
				<key>long</key>
				<real>-4.254420000000001</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.862039999999986</real>
				<key>long</key>
				<real>-4.254410000000002</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.862009999999984</real>
				<key>long</key>
				<real>-4.254400000000002</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86197999999998</real>
				<key>long</key>
				<real>-4.254380000000002</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86195999999998</real>
				<key>long</key>
				<real>-4.254360000000002</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86193999999998</real>
				<key>long</key>
				<real>-4.254350000000002</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86194</real>
				<key>long</key>
				<real>-4.25435</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.861929999999994</real>
				<key>long</key>
				<real>-4.2543299999999995</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.861929999999994</real>
				<key>long</key>
				<real>-4.254309999999999</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86191999999999</real>
				<key>long</key>
				<real>-4.254289999999999</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86185999999999</real>
				<key>long</key>
				<real>-4.253799999999999</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86185999999999</real>
				<key>long</key>
				<real>-4.253769999999999</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86184999999999</real>
				<key>long</key>
				<real>-4.253729999999999</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86185999999999</real>
				<key>long</key>
				<real>-4.253699999999999</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.861869999999996</real>
				<key>long</key>
				<real>-4.253659999999999</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86188</real>
				<key>long</key>
				<real>-4.253639999999999</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.8619</real>
				<key>long</key>
				<real>-4.253609999999999</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86192</real>
				<key>long</key>
				<real>-4.2535799999999995</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86193</real>
				<key>long</key>
				<real>-4.253559999999999</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86193</real>
				<key>long</key>
				<real>-4.25356</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86116</real>
				<key>long</key>
				<real>-4.25386</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86073</real>
				<key>long</key>
				<real>-4.254040000000001</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.860499999999995</real>
				<key>long</key>
				<real>-4.254130000000001</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.860389999999995</real>
				<key>long</key>
				<real>-4.254170000000001</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86039</real>
				<key>long</key>
				<real>-4.25417</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86032</real>
				<key>long</key>
				<real>-4.25419</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86032</real>
				<key>long</key>
				<real>-4.25419</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86047</real>
				<key>long</key>
				<real>-4.25555</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86051</real>
				<key>long</key>
				<real>-4.25624</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.860549999999996</real>
				<key>long</key>
				<real>-4.257</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86056</real>
				<key>long</key>
				<real>-4.25714</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.8606</real>
				<key>long</key>
				<real>-4.25779</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86063</real>
				<key>long</key>
				<real>-4.2584</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86063</real>
				<key>long</key>
				<real>-4.2584</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.8606</real>
				<key>long</key>
				<real>-4.25779</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86056</real>
				<key>long</key>
				<real>-4.25714</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.860549999999996</real>
				<key>long</key>
				<real>-4.257</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86051</real>
				<key>long</key>
				<real>-4.25624</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86047</real>
				<key>long</key>
				<real>-4.25555</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86032</real>
				<key>long</key>
				<real>-4.25419</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86032</real>
				<key>long</key>
				<real>-4.25419</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.8605</real>
				<key>long</key>
				<real>-4.25413</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.8605</real>
				<key>long</key>
				<real>-4.25413</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86047</real>
				<key>long</key>
				<real>-4.25389</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86047</real>
				<key>long</key>
				<real>-4.25389</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86039</real>
				<key>long</key>
				<real>-4.25316</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86039</real>
				<key>long</key>
				<real>-4.25316</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.860400000000006</real>
				<key>long</key>
				<real>-4.253150000000001</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86041000000001</real>
				<key>long</key>
				<real>-4.2531300000000005</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86041000000001</real>
				<key>long</key>
				<real>-4.253100000000001</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86042000000001</real>
				<key>long</key>
				<real>-4.253080000000001</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86042000000001</real>
				<key>long</key>
				<real>-4.253050000000001</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86042000000001</real>
				<key>long</key>
				<real>-4.253020000000001</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86042000000001</real>
				<key>long</key>
				<real>-4.252990000000001</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86041000000001</real>
				<key>long</key>
				<real>-4.2528700000000015</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86028000000001</real>
				<key>long</key>
				<real>-4.251800000000001</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86028</real>
				<key>long</key>
				<real>-4.2518</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.860110000000006</real>
				<key>long</key>
				<real>-4.251860000000001</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86005000000001</real>
				<key>long</key>
				<real>-4.251880000000001</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86005</real>
				<key>long</key>
				<real>-4.25188</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86011</real>
				<key>long</key>
				<real>-4.25186</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.860279999999996</real>
				<key>long</key>
				<real>-4.251799999999999</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86091</real>
				<key>long</key>
				<real>-4.25156</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86091</real>
				<key>long</key>
				<real>-4.25156</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86148</real>
				<key>long</key>
				<real>-4.25137</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86148</real>
				<key>long</key>
				<real>-4.25137</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86106</real>
				<key>long</key>
				<real>-4.25151</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.86106</real>
				<key>long</key>
				<real>-4.25151</real>
			</dict>
			<dict>
				<key>lat</key>
				<real>55.861180000000004</real>
				<key>long</key>
				<real>-4.251469999999999</real>
			</dict>
		</array>
	</dict>
</array>
</plist>
